.header {
    background-color: #43A047;
    color: #FFF;
    line-height: 2em;
}
.footer {
    background-color: #424242;
    color: #FFF;
    padding: 1em 0;
    margin-top: 1em;
}
.footer span {
    font-size: 1.3em;
    font-weight: 600;
}
.footer ul {
    margin-top: 10px;
}
.footer li {
    color: #E0E0E0;
    font-size: 0.9em;
    margin-bottom: 5px;
    text-transform: uppercase;
}
