h1 {
    font-size: 3em;
    font-weight: 700;
    color: #333;
}
.lastModified {
    margin-bottom: 3rem;
}
.similar,
.share {
    margin-top: 50px;
}
.similar ul {
    margin: 0;
}
.similar li {
    margin: 5px 0;
}
.author {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}
.author span {
    color: #C5C5C5;
}
.author a {
    color: inherit;
    text-decoration: none;
}
.author a:hover {
    color: inherit;
}
