h1 {
    font-size: 3em;
    font-weight: 700;
    color: #333;
}
.lastModified {
    margin-bottom: 3rem;
}
.similar {
    margin-top: 50px;
}
.similar ul {
    margin: 0;
}
.similar li {
    margin: 5px 0;
}
